@import "tailwindcss";

@theme inline {
  --color-surface: #f9f9f9;
  --color-primary: #000000;
  --color-secondary: #5f5e5e;
  --color-outline-variant: #c6c6c6;
  --color-inverse-surface: #2f3131;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f4;
  --color-surface-container: #eeeeee;
  --color-surface-container-highest: #e2e2e2;
  --color-surface-dim: #dadada;
  --color-on-surface-variant: #474747;
  --color-on-primary: #e2e2e2;
  --color-outline: #777777;

  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;

  --radius-xs: 0px;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 9999px;
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-family: var(--font-body);
}

.tracking-architectural { letter-spacing: -0.02em; }
.tracking-editorial { letter-spacing: 0.1em; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
